<div>

  <div>
    <h4>Thanks for the details, <%= name %>!</h4>
    <p>You are <%= age %> and your favorite numbers are <%= n1 %>, <%= n2 %> and <%= n3 %>.</p>
    <p>The sum of your favorite numbers is <%= total %>, which is <%= comparison %> than your age.</p>
    <p>Your quote is: "<%= quote %>"</p>
  </div>

  <hr>

  <div>
    <h4>What would you like to do next?</h4>
    <div class="padding">
      <p><a href = "/">Enter info for someone else</a></p>
      <p><a href = "/list_users">View info for someone else</a></p>
      <p><a href = "/get_search">Update info for someone</a></p>
    </div>
  </div>

  <hr>

</div>